@font-face {
  font-family: 'iconfont'; /* Project id 3862374 */
  src: url('iconfont.woff2?t=1685328359401') format('woff2'),
    url('iconfont.woff?t=1685328359401') format('woff'),
    url('iconfont.ttf?t=1685328359401') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cwgl-sei:before {
  content: '\e657';
}

.hlrw:before {
  content: '\e654';
}

.qj2beifen:before {
  content: '\e655';
}

.dagl2beifen:before {
  content: '\e656';
}

.ht2beifen:before {
  content: '\e659';
}

.menu_zhuye:before {
  content: '\e65a';
}

.jihua:before {
  content: '\e65b';
}

.icon12beifen:before {
  content: '\e65c';
}
